name: "CI"
on: [push]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Cache build artifacts
        uses: actions/cache@v2
        with:
          path: dist
          key: cache-build-artifacts-${{ github.sha }}

      - uses: mymindstorm/setup-emsdk@v10
        with:
          version: 2.0.33

      - name: Setup build tools
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends autoconf automake libtool xxd

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: "16"

      - name: Install dependencies
        run: npm ci

      - name: Build and Test
        run: make test package
  publish:
    name: Publish
    environment: Publish
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && ( github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main' )
    steps:
      - uses: actions/checkout@v2

      - name: Cache build artifacts
        uses: actions/cache@v2
        with:
          path: dist
          key: cache-build-artifacts-${{ github.sha }}

      - name: Publish
        uses: mikeal/merge-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
